<div class="container">
    <div class="row">
        <div class=></div>
      <div class="col-md-3 col-xs-3">
      </div>
      <div class="col-md-6 col-xs-6">
        <div class="panel panel-personal">
          <div class="panel-heading">
            <div class="panel-title">
              <center><h3 class="negrita wfont sombra">Contacto</h3></center>
            </div>
          </div>
            <div class="panel-body">
              <div class="container-fluid">
                  <ul class="list-group">
                    <li class="list-group-item negrita">Ail치n, Juli치n</li>
                    <center style="padding-top:1em;padding-bottom:1em;">
                      <div><a href="https://www.facebook.com/tulians" class="negrita" style="color: #3A5795" target="_blank">Facebook</a></div>
                      <div><a href="https://plus.google.com/+Juli치nAil치n/posts" class="negrita" style="color: #f26161" target="_blank">Google+</a></div>
                      <div class="negrita">julianailan@outlook.com</div>
                    </center>
                    <li class="list-group-item negrita">Hourquebie, Lucas</li>
                    <center style="padding-top:1em;padding-bottom:1em;">
                      <div><a href="https://www.facebook.com/lucashour" class="negrita" style="color: #3A5795" target="_blank">Facebook</a></div>                      
                      <div><a href="https://plus.google.com/+LucasHourquebie/posts" class="negrita" style="color: #f26161" target="_blank">Google+</a></div>
                      <div class="negrita">lucashour1993@gmail.com</div>
                    </center>
                  </ul>
                </div>
            </div>          
        </div>
      </div>
    </div>
</div>