a:link{text-decoration: none}
a:active{text-decoration: none}
a:visited{text-decoration: none}
a:hover{text-decoration: none}

footer { margin-top: 100px; }
table, td, th { vertical-align: middle; border: none; }
th { border-bottom: 1px solid #DDD; }

*{
  margin:0;
  padding:0;
}

html{
	width: 100%;
	height: 100%;
}

header{
	background-color: white;
}

.wfont{
	color: white;
}

body{
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
	background-color: #fdfaec;
	padding-top: 5.5em;
	min-height: 100%;
	position: relative;
	background: url("circuit2.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

body > footer{
	background-color: white;
	box-shadow: 0px 1px 10px rgba(150, 150, 150, 1);
	vertical-align: center;
	text-align: center;
	padding-top: 0.8em;
	padding-bottom: 0.8em;
	margin-bottom: 0.5em;
	position: relative;
	right: 0;
  	bottom: 0;
  	left: 0;
}

/* Boxes */
.elliptical {
	border: 5px solid #dcd6bf;
	padding: 20px;
	width: 10px;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}

html, body {
    height: 100%;
}

.wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -4em;
}
.footer, .push {
	height: 4em;
}

.subtitles{
	color: white;
	font-family: Verdana, sans-serif;
	font-size: 2em;
	padding-bottom: 1em;
	text-align: center;
	text-shadow: 1px 1px 1px rgba(150, 150, 150, 1);
}

/* =================== PANELES ====================
   ================================================ */

.panel-producto{
	height: 200px;
	overflow: hidden;
}

.panel-personal {
  border-style: none;
  box-shadow: 2px 2px 2px rgba(150, 150, 150, 1);
}

.panel-personal > .panel-heading {
  color: black;
  background-color: #535149;
}

.panel-personal > .panel-heading .badge {
  color: #d9edf7;
  background-color: #31708f;
}

.panel-personal ul > li blockquote{
	font-size: 15px;
	margin-bottom: 5px;
}

.panel-personal .list-special .list-group-item:first-child{
	border-top-width: 0px;
}

.panel-personal .list-special .list-group-item{
	border-top-width: 3px;
}

.panel-personal .table{
	margin-bottom: 0px;
}

.panel-personal .table > tbody > tr:first-child > td,
.panel-personal .table > tr:first-child > td{
	border-top-width: 0px;
}

/* ================================================
   ================== FIN PANELES ================= */

   /* =================== TEXTOS =====================
   ================================================ */

.negrita{
	font-weight: bold;
}

.blanca {
	color: white;
}

.italica{
	font-style: italic;
}

.error{
	font-weight: bold;
	color: red;
}

.destacado{
	font-weight: bold;
	color: dodgerblue;
}

.enlace{
	font-weight: bold;
	color: #47ccb1;
}

.linea{
	border:0;
	border-top:3px solid #00FDFE;
	width:15%;
	margin:0.5em auto;	
}

.text-ellipsis{ /* Cuando hay overflow, en vez de saltar de línea, se trunca el texto y se agregan ... */
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.text-nowrap{ /* Cuando hay overflow, el texto no salta de línea */
	white-space: nowrap;
	overflow: hidden;
}

.fuente-predeterminada{
	font-family: 'Josefin Sans', sans-serif;
}

.sombra{
	text-shadow: 4px 4px 4px black;
}

.sombra-blanca{
	text-shadow: 4px 4px 4px white;
}

.campo-obligatorio{
	vertical-align: super;
	color: red;
	font-weight: bold;
	display: inline;
}

/* ================================================
   ================ FIN TEXTOS ==================== */

#cuerpo{
	padding-top: 0em;
	padding-bottom: 60px;
	min-height: 100%;
	position: relative;
}

.img-icon {
  overflow: hidden;
  display: inline-block;
  height: 10em;
  padding: 4px;
  line-height: 1.42857143;
  border-radius: 50%;
  -webkit-transition: all .2s ease-in-out;
       -o-transition: all .2s ease-in-out;
          transition: all .2s ease-in-out;
}