<center>
	<% @upload = Upload.new %>
	<%= form_for @upload , :html => { :multipart => true} do |u| %>
		<%= u.file_field :file, :multiple => true %>
		<div style="padding-top: 1em"></div>
		<input type="submit" value="Subir apuntes/notas/exámenes" class="btn btn-success negrita">
	<% end %>
</center>