<center>
	<% @upload = Upload.new %>
	<%= form_for @upload , html: { :multipart => true, class: "dropzone"} do |u| %>
		<div class="fallback">
			<%= u.file_field :file %><br>
    		<%= u.submit "Upload" %>
		</div>
	<% end %>
</center>