<% if flash[:notice] %>
	<div class="alert alert-success container-flash"><%= flash[:notice].html_safe unless flash[:notice].blank? %>
	  	<button type="button" class="close" data-dismiss="alert">
		  <span aria-hidden="true">&times;</span>
		  <span class="sr-only">Cerrar</span>
		</button>
	</div>
<% end %>

<% if flash[:alert] %>
  	<div class="alert alert-danger container-flash"><%= flash[:alert].html_safe unless flash[:alert].blank? %>
	  	<button type="button" class="close" data-dismiss="alert">
		  <span aria-hidden="true">&times;</span>
		  <span class="sr-only">Cerrar</span>
		</button>
	</div>
<% end %>